.contact-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.171);
    width: 45vw;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="number"]:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #3791e6;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.form-group input[type="submit"] {
    background-color: #2518e28c;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #5b09f3;
}

@media (max-width: 991px) {

    .contact-form,
    .socials {
        width: 100%;
    }

    .socials {
        margin: 2rem 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

@media (max-width: 576px) {
    .socials {
        flex-direction: column;
        align-items: center;
    }

    .social,
    .coding {
        width: 100%;
    }
}

.socials {
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.171);
}

.main {
    flex-direction: column;
    gap: 0.5em;
}

.up,
.down {
    gap: 0.5em;
}

.contact-card {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.contact-card:hover {
    cursor: pointer;
    scale: 1.1;
}

.card1 {
    border-radius: 90px 5px 5px 5px;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

#insta-card:hover {
    background-color: #d830ab;
}

#insta-card:hover .instagram {
    fill: white;
}

.gfg {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #00ff00;
}

#gfg-card:hover {
    background-color: #00ff00;
}

#gfg-card:hover .gfg {
    fill: whitesmoke;
}

.card2 {
    border-radius: 5px 90px 5px 5px;
}

.twitter {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: black;
}

#tweet-card:hover {
    background-color: black;
}

#tweet-card:hover .twitter {
    fill: white;
}

.leetcode {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
}

#lc-card:hover {
    background-color: #f1f505;
}

.card3 {
    border-radius: 5px 5px 5px 90px;
}

.linkedin {
    margin-top: -0.6em;
    margin-left: 1.2em;
    fill: #0077b5;
}

#linkedin-card:hover {
    background-color: blue;
}

#linkedin-card:hover .linkedin {
    fill: white;
}

.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
    fill: black;
}

#git-card:hover {
    background-color: black;
}

#git-card:hover .github {
    fill: white;
}

.card4 {
    border-radius: 5px 5px 90px 5px;
}

.telegram {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #7d90fc;
}

#tele-card:hover {
    background-color: skyblue;
}

#tele-card:hover .telegram {
    fill: blue;
}

.codeforces {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

#code-card:hover {
    background-color: #f17c0e;
}