.nav-logo>img {
    height: 5rem;
}

#Home {
    justify-content: space-around;
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: whitesmoke;
}

.nav-links>ul {
    justify-content: end;
    gap: 2rem;
}

.nav-toggle {
    display: none;
}

@media screen and (max-width: 950px) {
    .nav-toggle {
        display: block;
    }

    .nav-links>ul {
        flex-direction: column;
    }

    .nav-links {
        position: absolute;
        background-color: rgb(169, 198, 235);
        width: 100%;
        height: 100vh;
        top: 100%;
        left: -200%;
        padding-block: 20px;
        z-index: 5;
    }

    .nav-links.active {
        left: 0;
    }
}

@media screen and (max-width: 250px){
    #Home{
        justify-content: space-between;
    }
}

/* ^ Header */

header {
    justify-content: center;
    gap: 5rem;
    padding: 0.5rem 1rem;
}

.header-left {
    max-width: 50%;
}

.header-left>h1 {
    margin-bottom: 1rem;
}

#element {
    color: #334ae4;
    font-family: "Inter", sans-serif;
}

.typed-cursor {
    color: #334ae4;
}

.botao {
    margin: 1rem 0;
    width: 125px;
    height: 45px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
    padding: 5px 10px;
    background: rgba(47, 92, 197, 0.308);
    background: linear-gradient(160deg, rgba(47, 93, 197, 1) 0%, rgba(46, 86, 194, 1) 5%, rgba(47, 93, 197, 1) 11%, rgba(59, 190, 230, 1) 57%, rgba(0, 212, 255, 1) 71%);
    color: #010f08;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
    transition: .5s linear;
}

.botao .mysvg {
    display: none;
}

.botao:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s linear;
}

.botao:hover .texto {
    display: none;
}

.botao:hover .mysvg {
    display: inline;
}

.botao:hover::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3.5px solid transparent;
    border-top: 3.5px solid #db9c12;
    border-right: 3.5px solid #db9c12;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-right>img {
    animation: animateUpDown 2s ease-in-out infinite alternate;
    mix-blend-mode: darken;
}

@keyframes animateUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .header-left>h1 {
        margin-top: 1rem;
    }

    .header-right>img {
        width: 100%;
    }
}