/*  ^ Fonts */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*  & ------------------------------------------------------------------------------ */

/*  ^ CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    margin: 1.5rem 0;
}

img{
    width: 100%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
}

body{
    background-color: #F5F5F5;
}

/*  & ------------------------------------------------------------------------------ */

/*  ^ CSS UTILITIES */

.flex{
    display: flex;
    align-items: center;
}

#Wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    /* background-color: rgba(0, 255, 0, 0.555); */
}

@media screen and (max-width: 768px) {
    #Wrapper {
        width: 95%;
        padding: 10px;
    }
}

.mtb{
    margin: 2rem 0;
}

.tc{
    text-align: center;
}

.active{
    color: #334ae4 !important;
}

.nav-text{
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #1a2930;
    font-weight: 600;
}

.main-text{
    font-family: "Barlow", sans-serif;
    font-size: 3rem;
    line-height: 5rem;
    color: #262626;
    font-weight: 700;
}

.para-text{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #262626;
    font-weight: 500;
}

.hover-link{
    transition: all .3s ease-in-out;
}

.hover-link:hover {
    color: #334ae4;
}
